/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* LOGO */
.nav-logo{
    height: 50px;
    width: 114px;
}
.logo{
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 114px;
    background-size: cover;
}

/* BORDER HOVER */
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

/* ADDRESS */
.nav-address{
    display: flex;
    flex-direction: column;
}
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-icon{
    display: flex;
    align-items: center;
}
.india{
    font-size: 1rem;
    margin-left: 5px;
}

/* SEARCH BAR */
.nav-search{
    display: flex;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    overflow: hidden;
}
.options{
    width: 50px;
    background-color: #f3f3f3;
    border: none;
}
.search-input{
    flex: 1;
    border: none;
    font-size: 1rem;
    padding-left: 10px;
}
.search-icon{
    width: 45px;
    background-color: rgb(240,175,63);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    color: #0f1111;
}
.nav-search:hover{
    border: 2px solid orange;
}

/* LANGUAGE */
.language{
    display: flex;
    align-items: center;
}
.flag-image{
    width: 21px;
    height: 16px;
}
.lang-select{
    background-color: #0f1111;
    color: white;
    border: none;
    font-weight: bold;
}

/* SIGNIN / RETURNS */
span{
    font-size: 0.7rem;
}
.p2{
    font-size: 0.9rem;
    font-weight: bold;
}

/* CART */
.nav-cart{
    font-size: 0.9rem;
    font-weight: bold;
}
.nav-cart i{
    font-size: 30px;
}

/* PANEL */
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
    font-size: 0.85rem;
}
.panel-ops{
    width: 70%;
}
.paneldeals{
    font-size: 0.9rem;
    font-weight: bold;
}

/* HERO SECTION (FIXED) */
.hero-section{
    background-image: url("hero.jpg");
    height: 390px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message{
    background-color: white;
    height: 40px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    font-size: 0.9rem;
}
.hero-message a{
    color: #007185;
    text-decoration: none;
}

/* SHOP SECTION */
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #e6e6e6;
    padding: 20px 0;
}
.box{
    width: 23%;
    background-color: white;
    padding: 20px 0 15px;
}
.boxcontent{
    margin: 0 1rem;
}
.box-image{
    height: 300px;
    background-size: cover;
    background-position: center;
    margin: 1rem 0;
}
.boxcontent p,
.boxcontent a{
    color: #007185;
    text-decoration: none;
}

/* IMAGE GRID FIX */
.image1{
    display: flex;
    gap: 10px;
    margin-top: 15px;
}
.lefti,.righti,.lefti2,.righti2{
    height: 115px;
    width: 50%;
    background-size: cover;
    background-position: center;
}

/* FOOTER */
footer{
    margin-top: 15px;
}
.back{
    height: 50px;
    background-color:#37475a;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel-2{
    background-color: #222f3d;
    color: white;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}
ul a{
    display: block;
    margin-top: 10px;
    font-size: 0.85rem;
    color: #dddddd;
}
.panel-3{
    background-color: #222f3d;
    border-top: 1px solid #3a4553;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel-4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    text-align: center;
}
.pages{
    padding-top: 25px;
}

