*{
    margin: 0px;
    font-family: arial;
    border: border-box;
}   
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}      
.logo{
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 114px;
    background-size: cover;
}
.nav-logo{
    height: 50px;
    width: 114px;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid whitesmoke;
}
.nav-address{
    display: inline;
    width: 91px;
    
}
/* box 2 */
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
    /* margin-top: 10px; */

}
.india{
    font-size: 1rem;
    color: #ffffff;
    margin-left: 3px;
}
.add-icon{
    display: flex;
}
/* box 3 */
.nav-search{
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.options{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    background-color:rgb(240, 175, 63);
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
.nav-search:hover{
    border: 2px solid orange;
}

/* BOX 4 */
.language{
    width: 45.28px;
    height: 45px;
    display: flex;
    margin-top: 40px;

}
.flag-image{
    width: 21.6px;
    height: 16.2px;
    margin-right: 1px;
}
.lang-select{
    background-color:#0f1111 ;
    color: #ffffff;
    width: 79px;
    height: 15px;
    font-size: 1rem;
    border: none;
    font-weight: bold;
    
}

/* BOX 5 */
/* .signin{
    height:50px;
    color: #d6d6d6;
    margin: 1px;
    width: 113px;
}
.p1{
    font-size: 12px;
    color: #ffffff;
    height: 14px;
    width: 70px;
}
.oneline{
    display: flex;
}
.p2{
    
    width: 100.53px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    
}
.sselect{
    background-color: #0f1111;
    color: #d6d6d6;
    border: none;
    height: 4px;
    width: 8px;
    margin-top:;

} */
 span{
    font-size: 0.7rem;
 }
.p2{
    font-size: 0.89rem;
    font-weight: 500;
}

/* BOX 7 */
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/* PANEL */
.panel{
    height: 40px; 
    background-color: #222f3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
/* box 1 */
.panelall i{
    color: #ffffff;
}
.panelall{
    color: #ffffff;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.paneldeals{
    font-size: 0.9rem;
    font-weight: 700;
}


.hero-section{
    background-image: url("./hero.jpg");
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.hero-message{
    background-color: white;
    color: black;
    height: 40px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    font-size: 0.9rem;
}


.hero-message a{
    color: #007185;
    text-decoration: none;
}
/* shop section */
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color:rgb(231, 142, 249);
}
.box{
    margin-top: 15px;
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    
}
.box-image{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
   
}

.boxcontent{
    margin-left: 1rem;
    margin-right: 1rem;
}
.boxcontent p{
    color: #007185;
}


.tog{
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.box-image1{
    background-size: cover;
    background-repeat: no-repeat;
    height: 118px;
    width: 50%;
    
    
   
    
}
.image1{
    margin-top: 2rem;
    height: 150px;
    width: 350px;
    display: flex;
    flex-wrap: nowrap;
    
}
.lefti{
    background-image: url("box1.jpg");
    height: 115px;
    width: 43%;
    background-size:cover;
    background-repeat: no-repeat;
     background-position: center;
    margin-right: 15px;
}
.righti{
    background-image: url(box2.jpg);
    height: 115px;
     width: 40%;
    background-size: cover;
    background-repeat: no-repeat;
     background-position: center;
    
    
}
.lefti2{
    background-image: url("box3.jpg");
    height: 115px;
    width: 43%;
    background-size:cover;
    background-repeat: no-repeat;
     background-position: center;
    margin-right: 15px;
}
.righti2{
    background-image: url(box4.jpg);
    height: 115px;
     width: 40%;
    background-size: cover;
    background-repeat: no-repeat;
     background-position: center;
    
    
}
.boxcontent a{
    color: #007185;
    text-decoration: none;
}
.box-image2{
    margin-top: 15px;
    width: 300x;
    height: 300px;
    background-size: auto;
    background-position: center;
    
}
/* Footer */
footer{
    margin-top: 15px;
}
.back{
    height: 50px;
    background-color:#37475a;
    color:white;
    font-size: 0.85rem;
    
    display: flex;
    justify-content: center;
    align-items: center;

}
.back:hover{
    background-color:#37475aF2;
}
.panel-2{
    background-color: #222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    
}
ul{
    margin-top: 20px;
}
ul a{
   display: block;
   font-size: 0.85rem;
   margin-top: 19px;
   color: #dddddd;
}

.panel-3{
    background-color: #222f3d;
    color: white;
    border-top: 0.05px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 114px;
    background-size: cover;
}
.panel-4{
    background-color: #0f1111;
    color: white;
    font-size: 0.75rem;
    text-align: center;
    height: 80px;
}
.pages{
    
    padding-top: 25px;
}
.copyright{
    margin-top: 5px;

}




